<ul class="nav flex-column">

  <!-- Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      Dashboard
    </a>
  </li>

  <!-- Rainfall -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="rainfallMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Rainfall
    </a>
    <ul class="dropdown-menu" aria-labelledby="rainfallMenu">
      <li><a class="dropdown-item" href="#">List</a></li>
      <li><a class="dropdown-item" href="#">New</a></li>
    </ul>
  </li>

  <!-- Temperature -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="temperatureMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Temperature
    </a>
    <ul class="dropdown-menu" aria-labelledby="temperatureMenu">
      <li><a class="dropdown-item" href="#">List</a></li>
      <li><a class="dropdown-item" href="#">New</a></li>
    </ul>
  </li>

  <!-- Station -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="stationMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Station
    </a>
    <ul class="dropdown-menu" aria-labelledby="stationMenu">
      <li><a class="dropdown-item" href="#">List Stations</a></li>
      <li><a class="dropdown-item" href="#">New Station</a></li>
    </ul>
  </li>

  <!-- Setup -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="setupMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Setup
    </a>
    <ul class="dropdown-menu" aria-labelledby="setupMenu">
      <li><a class="dropdown-item" href="#">List</a></li>
      <li><a class="dropdown-item" href="#">New</a></li>
    </ul>
  </li>

</ul>
